<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header " data-background-color="purple">
        <select class="form-control a">
          <option class="b"  *ngFor="let types of numberTypes" value="{{types.id}}" >{{types.name}}</option>
        </select>

      </div>
      <div class="card-content">
        <div class="form-group label-floating">
          <label class="control-label">Input your data</label>
          <input type="text" class="form-control" >
        </div>
      </div>

    </div>
  </div>

</div>
